.Recipes {
  display: flex;
  justify-content: center;
  padding-top: 55px;
  padding-bottom: 35px;
  background-color: #171B1B;

  @media screen and (min-width:1041px) {
    padding-top: 105px;
    padding-bottom: 112px;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width:1341px) {}

    @media screen and (min-width:1041px) {
      align-items: start;
    }

    &title {
      color: #FFF;
      text-align: center;
      font-size: 24px;
      font-family: 'Ultra';
      line-height: 34px;
      max-width: 254px;

      @media screen and (min-width:1041px) {
        max-width: 520px;
        text-align: left;
        padding-top: 18px;
        order: -1;
        font-size: 56px;
        line-height: 64px;
      }
    }

    &subtitle {
      padding-top: 30px;
      text-align: center;
      color: #FFF;
      font-size: 16px;
      font-family: 'Oswald';
      line-height: 32px;
      letter-spacing: 3px;
      text-transform: uppercase;

      @media screen and (min-width:1041px) {
        padding-top: 0px;
        order: -2;
        font-size: 16px;
      }

    }

  }

  &__cards {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    column-gap: 30px;
    padding-top: 70px;

    @media screen and (min-width:1341px) {
      flex-direction: row;
    }

    &row {
      max-width: 580px;
      display: flex;
      flex-wrap: wrap;
      row-gap: 32px;
      column-gap: 30px;
      justify-content: flex-start;
      justify-content: center;
    }

    &elem {
      &big {
        transition: 0.3s all ease-out;
        background-color: #fff;
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
        }

        &img {
          width: 100%;
          height: 100%;
        }

        &description {
          padding: 24px 34px 30px 28px;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          @media screen and (min-width:450px) {
            justify-content: flex-end;
          }

          @media screen and (min-width:1041px) {
            padding: 25px 48px 33px 48px;
          }
        }

        &subtitle {
          color: #171B1B;
          font-family: Oswald;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 18.5px;
          letter-spacing: 3px;
          text-transform: uppercase;

          @media screen and (min-width:450px) {
            padding-bottom: 16px;
            font-size: 16px;
            line-height: 32px;
          }
        }

        &title {
          color: #000;
          font-family: Ultra;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 48px;

          @media screen and (min-width:450px) {
            padding-bottom: 18px;
          }

          @media screen and (min-width:1041px) {
            font-size: 40px;
            line-height: 48px;
          }
        }

        &lastrow {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        &text {
          max-width: 220px;
          color: rgba(51, 51, 51, 0.50);
          font-family: DM Sans;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 23.5px;

          @media screen and (min-width:1041px) {
            max-width: 330px;
            font-size: 16px;
            line-height: 32px;
          }
        }

        &time {
          display: flex;
          align-items: center;
          column-gap: 11px;
          color: #000;
          text-align: center;
          font-family: Oswald;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px;

          &icon {
            width: 24px;
            height: 24px;
          }
        }
      }

      &small {
        transition: 0.3s all ease-out;

        &:hover {
          transform: scale(1.1);
        }

        background-color: #fff;
        cursor: pointer;

        &img {
          width: 322px;
          height: 247px;

          @media screen and (min-width:1041px) {
            width: 270px;
            height: 208px;
          }
        }

        &description {
          padding: 13px 34px 33px 34px;

          @media screen and (min-width:1041px) {
            padding: 11px 32px 26px 32px;
          }

        }

        &firstrow {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        &type {
          width: 59.63px;
          height: 38.091px;
          flex-shrink: 0;
          color: rgba(51, 51, 51, 0.50);
          font-family: DM Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px;
        }

        &time {
          display: flex;
          column-gap: 6px;
          color: #000;
          text-align: right;
          font-family: DM Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px;
        }

        &title {
          padding-top: 14px;
          color: #000;
          font-family: DM Sans;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px;
          max-width: 200px;

          @media screen and (min-width:1041px) {
            padding-top: 0px;
          }
        }

      }

    }

  }

  &__button {
    cursor: pointer;
    margin-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 48px;
    color: #171B1B;
    text-align: center;
    font-size: 16px;
    font-family: 'Oswald';
    text-transform: uppercase;
    border-radius: 2px;
    border: 1px solid rgba(23, 27, 27, 0.24);

    @media screen and (min-width:1041px) {
      margin-top: 64px;
    }

    &wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

}