.FreshBakery {
  background: rgba(231, 212, 190, 0.44);
  display: flex;
  justify-content: center;

  &__container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width:1041px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }
  }

  &__leftside {
    padding-top: 55px;
    padding-bottom: 42px;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width:1041px) {
      padding-top: 60px;
      padding-left: clamp(15px, 10%, 135px);
      padding-bottom: 0px;
      align-items: start;
      justify-content: flex-start;
    }

    @media screen and (min-width:1271px) {
      padding-top: 160px;
    }

  }

  &__title {
    font-family: 'Ultra';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #000000;
    max-width: 210px;
    text-align: center;

    @media screen and (min-width:1041px) {
      max-width: 470px;
      order: -1;
      text-align: left;
      font-size: 54px;
      line-height: 66px;
      margin-top: 21px;
    }

    @media screen and (min-width:1271px) {
      font-size: 72px;
      line-height: 80px;
    }
  }

  &__subtitle {
    padding-top: 30px;
    text-align: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;

    @media screen and (min-width:1041px) {
      order: -2;
      text-align: left;
      font-size: 16px;
    }
  }

  &__text {
    padding-top: 34px;
    max-width: 203px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: #000000;

    @media screen and (min-width:1041px) {
      max-width: 280px;
      order: 0;
      padding-top: 14px;
      text-align: left;
      font-size: 20px;
      line-height: 32px;
      margin-top: 27px;
    }

    @media screen and (min-width:1271px) {
      max-width: 470px;
    }
  }

  &__img {
    @media screen and (min-width:1041px) {}
  }

}