.Products {
  display: flex;
  justify-content: center;
  padding-top: 55px;
  padding-bottom: 35px;

  @media screen and (min-width:1041px) {
    padding-top: 105px;
    padding-bottom: 112px;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width:1341px) {
      padding-left: 135px;
    }

    @media screen and (min-width:1041px) {
      align-items: start;
    }

    &title {
      color: #171B1B;
      text-align: center;
      font-size: 24px;
      font-family: 'Ultra';
      line-height: 34px;
      max-width: 230px;

      @media screen and (min-width:1041px) {
        max-width: 520px;
        text-align: left;
        padding-top: 18px;
        order: -1;
        font-size: 56px;
        line-height: 64px;
      }
    }

    &subtitle {
      padding-top: 30px;
      text-align: center;
      color: #171B1B;
      font-size: 16px;
      font-family: 'Oswald';
      line-height: 32px;
      letter-spacing: 3px;
      text-transform: uppercase;

      @media screen and (min-width:1041px) {
        padding-top: 0px;
        order: -2;
        font-size: 16px;
      }

    }

  }

  &__cards {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
    padding-top: 30px;

    @media screen and (min-width:1341px) {
      padding-top: 69px;
      flex-direction: row;
      align-items: stretch;
    }

    &elem {
      &big {
        position: relative;
        transition: 0.3s all ease-out;
        background-color: #fff;
        cursor: pointer;

        &:hover {
          transform: scale(1.04);
        }

        &img {
          width: 100%;
          height: 100%;
        }

        &description {
          padding: 24px 30px 30px 30px;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: absolute;
          top: 0;
          left: 0;

          @media screen and (min-width:450px) {
            justify-content: flex-end;
          }

          @media screen and (min-width:1041px) {
            padding: 0px 39px 33px 48px;
          }
        }

        &subtitle {
          color: #FFF;
          font-size: 16px;
          font-family: Oswald;
          font-style: normal;
          font-weight: 400;
          line-height: 32px;
          letter-spacing: 3px;
          text-transform: uppercase;

          @media screen and (min-width:450px) {
            padding-bottom: 16px;
          }
        }

        &title {
          color: #FFF;
          font-size: 24px;
          font-family: Ultra;
          font-style: normal;
          font-weight: 400;
          line-height: 29.5px;

          @media screen and (min-width:450px) {
            padding-bottom: 18px;
          }

          @media screen and (min-width:1041px) {
            max-width: 300px;
            font-size: 40px;
            line-height: 48px;
          }
        }

        &lastrow {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        &text {
          max-width: 151px;
          color: rgba(255, 255, 255, 0.50);
          font-size: 12px;
          font-family: DM Sans;
          font-style: normal;
          font-weight: 400;
          line-height: 17px;

          @media screen and (min-width:1041px) {
            max-width: 330px;
            font-size: 16px;
            line-height: 32px;
          }
        }

        &price {
          color: #FFF;
          text-align: right;
          font-size: 40px;
          font-family: Ultra;
          font-style: normal;
          font-weight: 400;
          line-height: 48px;
        }
      }

      &small {
        position: relative;
        transition: 0.3s all ease-out;
        background-color: #fff;
        cursor: pointer;

        &:hover {
          transform: scale(1.07);
        }

        &img {
          width: 330px;
          height: 270px;

          @media screen and (min-width:1041px) {
            width: 370px;
            height: 304px;
          }
        }

        &description {
          padding: 26px 32px 35px 32px;
        }

        &type {
          color: #171B1B;
          font-size: 16px;
          font-family: Oswald;
          font-style: normal;
          font-weight: 400;
          line-height: 32px;
          letter-spacing: 3px;
          text-transform: uppercase;
        }

        &lastrow {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        &title {
          color: #171B1B;
          font-size: 24px;
          font-family: Oswald;
          font-style: normal;
          font-weight: 400;
          line-height: 32px;
        }

        &price {
          color: #171B1B;
          text-align: right;
          font-size: 40px;
          font-family: Ultra;
          font-style: normal;
          font-weight: 400;
          line-height: 48px;
        }

      }

    }

  }

  &__button {
    cursor: pointer;
    margin-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 48px;
    color: #171B1B;
    text-align: center;
    font-size: 16px;
    font-family: 'Oswald';
    text-transform: uppercase;
    border-radius: 2px;
    border: 1px solid rgba(23, 27, 27, 0.24);

    @media screen and (min-width:1041px) {
      margin-top: 64px;
    }

    &wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

}