 .Baker {
   padding-top: 55px;
   display: flex;
   justify-content: center;

   @media screen and (min-width:1041px) {
     padding-top: 192px;
     display: flex;
   }

   &__container {
     max-width: 1440px;
     padding-left: 31px;
     padding-right: 31px;

     @media screen and (min-width:1041px) {
       display: flex;
       column-gap: 130px;
     }
   }

   &__side {

     &left {
       display: flex;
       flex-direction: column;
       align-items: center;

       @media screen and (min-width:1041px) {
         align-items: start;
         padding-top: 25px;
       }
     }

     &right {
       position: relative;
       display: flex;
       flex-direction: column;
       align-items: center;
     }
   }

   &__title {
     color: #171B1B;
     text-align: center;
     font-family: Ultra;
     font-size: 24px;
     font-style: normal;
     font-weight: 400;
     line-height: 34px;

     @media screen and (min-width:1041px) {
       order: 2;
       font-size: 56px;
       line-height: 64px;
       max-width: 570px;
       text-align: start;
       padding-top: 18px;
     }
   }

   &__subtitle {
     padding-top: 34px;
     color: #171B1B;
     font-family: Oswald;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 32px;
     letter-spacing: 3px;
     text-transform: uppercase;

     @media screen and (min-width:1041px) {
       order: 1;
       padding-top: 0;
     }
   }

   &__img {
     &_mobile {
       padding-top: 55px;

       @media screen and (min-width:1041px) {
         display: none;
       }
     }

     &_desktop {
       z-index: 10000;
       display: none;

       &bg1 {
         display: none;
         position: absolute;
         top: -30px;
         left: 140px;

         @media screen and (min-width:1041px) {
           display: block;
         }
       }

       &bg2 {
         display: none;
         z-index: 9999;
         position: absolute;
         top: 151px;
         left: -78px;

         @media screen and (min-width:1041px) {
           display: block;
         }
       }

       &bg3 {
         display: none;
         width: 512px;
         height: 540px;
         position: absolute;
         top: 130px;
         left: -58px;

         @media screen and (min-width:1041px) {
           display: block;
         }
       }

       @media screen and (min-width:1041px) {
         display: block;
       }
     }
   }

   &__carousel {

     &_mobile {
       @media screen and (min-width:1041px) {
         display: none;
       }

       &nav {
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding-top: 41px;

         &title {
           color: #171B1B;
           font-family: Oswald;
           font-size: 24px;
           font-style: normal;
           font-weight: 400;
           line-height: 32px;
         }

         &buttons {
           display: flex;
           column-gap: 8px;

           &left {
             cursor: pointer;
           }

           &right {
             transform: rotate(180deg);
             cursor: pointer;
           }
         }
       }

       &text {
         padding-top: 28px;
         padding-bottom: 55px;
         color: rgba(51, 51, 51, 0.50);
         text-align: center;
         font-family: DM Sans;
         font-size: 12px;
         font-style: normal;
         font-weight: 400;
         line-height: 32px;
       }
     }

     &_desktop {
       display: none;
       order: 3;
       padding-top: 62px;

       @media screen and (min-width:1041px) {
         display: flex;
         justify-content: center;
         column-gap: 52px;
       }

       &nav {
         padding-top: 55px;

         &buttons {
           display: flex;
           flex-direction: column;
           row-gap: 8px;

           &up {
             transform: rotate(90deg)
           }

           &down {
             transform: rotate(-90deg)
           }
         }
       }

       &title {
         color: #171B1B;
         font-family: Oswald;
         font-size: 16px;
         font-style: normal;
         font-weight: 400;
         line-height: 32px;
         letter-spacing: 3px;
         text-transform: uppercase;
       }

       &name {
         padding-top: 16px;
         color: #171B1B;
         font-family: DM Sans;
         font-size: 16px;
         font-style: normal;
         font-weight: 400;
         line-height: 32px;

         &selected {
           padding-top: 12px;
           font-family: Oswald;
           font-size: 24px;
         }
       }

       &text {
         padding-top: 22px;
         width: 370px;
         color: rgba(51, 51, 51, 0.50);
         font-family: DM Sans;
         font-size: 16px;
         font-style: normal;
         font-weight: 400;
         line-height: 32px;
       }
     }
   }

 }