.Features {
  display: flex;
  justify-content: center;
  padding-top: 55px;
  padding-bottom: 55px;

  @media screen and (min-width:1041px) {
    padding-top: 65px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
  }

  &__title {
    font-family: 'Ultra';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #171B1B;

    @media screen and (min-width:1041px) {
      padding-top: 18px;
      order: -1;
      font-size: 56px;
      line-height: 64px;
    }
  }

  &__subtitle {
    padding-top: 30px;
    text-align: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;

    @media screen and (min-width:1041px) {
      padding-top: 0;
      order: -2;
      font-size: 16px;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 60px;
    margin-right: 60px;

    @media screen and (min-width:1041px) {
      margin-top: 70px;
    }

    &elem {
      min-width: 270px;
      min-height: 270px;
      margin-top: 30px;
      position: relative;
      transition: 0.4s all ease;

      @media screen and (min-width:1041px) {
        margin-top: 0px;
        min-width: 400px;
        min-height: 384px;
      }

      &:hover {
        cursor: pointer;
        background-color: #F5AE5C;
        transform: scale(1.08);

        .Features__rowelemicon path {
          fill: white;
        }

        .Features__rowelempicture {
          opacity: 1;
        }
      }

      &content {
        padding-top: 22px;
        padding-right: 0;
        padding-left: 27px;

        @media screen and (min-width:1041px) {
          padding-top: 56px;
          padding-right: 0;
          padding-left: 64px;
        }
      }

      &icon {
        width: 72px;
        height: 55px;

        @media screen and (min-width:1041px) {
          width: 102px;
          height: 87px;
        }
      }

      &icon path {
        transition: 0.4s all ease;
        fill: #F5AE5C;
      }

      &title {
        padding-top: 12px;
        font-family: 'Ultra';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 48px;
        color: #171B1B;

        @media screen and (min-width:1041px) {
          padding-top: 58px;
          font-size: 40px;
          line-height: 48px;
        }
      }

      &text {
        padding-top: 12px;
        max-width: 180px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 32px;
        color: rgba(51, 51, 51, 0.496405);

        @media screen and (min-width:1041px) {
          padding-top: 18px;
          font-size: 16px;
          line-height: 32px;
          max-width: 306px;
        }
      }

      &picture {
        transition: 0.3s all ease;
        position: absolute;
        opacity: 0;
        top: 0;
        right: 0;
        width: 120px;
        height: 122px;

        @media screen and (min-width:1041px) {
          width: 179px;
          height: 186px;
        }
      }

    }
  }
}