.Footer {
  background-color: #171B1B;
  display: flex;
  justify-content: center;

  &__container {
    max-width: 1440px;
    width: 100%;

    @media screen and (min-width:1271px) {
      padding-top: 57px;
      padding-left: 135px;
      padding-right: 35px;
    }
  }

  &__topcontent {
    padding-top: 55px;
    padding-bottom: 55px;

    @media screen and (min-width:1271px) {
      display: flex;
      justify-content: space-between;
      align-items: start;
      max-width: 1060px;
      padding-top: 0;
      padding-bottom: 70px;
    }

    &column {
      padding-top: 34px;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width:1271px) {
        padding-top: 4px;
        align-items: start;
      }
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
  }

  &__title {
    padding-bottom: 18px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  &__elem {
    cursor: pointer;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
  }

  &__icons {
    display: flex;
    gap: 8px;

    &item {
      cursor: pointer;
    }
  }

  &__divider {
    margin-bottom: 18px;
    background-color: #494949;
    width: 85%;
    height: 1px;

    @media screen and (min-width:1271px) {
      width: 100%;
    }

    &container {
      display: flex;
      justify-content: center;

      @media screen and (min-width:1271px) {
        display: block;
      }
    }

    @media screen and (min-width:720px) {
      max-width: 1170px;
    }

    @media screen and (min-width:1271px) {
      margin-bottom: 0;
    }
  }

  &__bottomcontent {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width:1271px) {
      flex-direction: row-reverse;
      justify-content: space-between;
      max-width: 1170px;
      padding-bottom: 37px;
      padding-top: 42px;
    }

    &elems {
      display: flex;
      justify-content: center;
      gap: 24px;

      @media screen and (min-width:1271px) {
        gap: 90px;
      }
    }
  }

  &__rights {
    padding-top: 20px;
    padding-bottom: 27px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.502972);

    @media screen and (min-width:1271px) {
      padding-top: 0px;
      padding-bottom: 0;
    }
  }

}